@model QuestionnaireApp.Models.Questionaire
@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Questionaire</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.ID)
            <dt>
                @Html.DisplayNameFor(model => model.Questionaire_Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Questionaire_Description)
            </dd>



        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", "Questionaire")
        </div>
    }
</div>
